<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WindowStyle>2</WindowStyle>
  <HideTaskbar>0</HideTaskbar>
  <ApplicationName>配線チェッカー</ApplicationName>
  <ApplicationNameEn>wireChecker</ApplicationNameEn>
  <SettingsHolder>Settings\</SettingsHolder>
  <DefaultConfigFilename>Default.config</DefaultConfigFilename>
  <MenuFolder>Settings\</MenuFolder>
  <MenuExtention>.hcm</MenuExtention>
  <DataFolder>C:\Checker2\</DataFolder>
  <DataExtention>.csv</DataExtention>
  <HistViewFolder>HistView</HistViewFolder>
  <MeasureConditionPath>MeasureCondition.Config</MeasureConditionPath>
  <ManualPath>Settings\操作説明書.pdf</ManualPath>
  <LoggingLevel>1</LoggingLevel>
  <Serial>4A0000001</Serial>
  <SerialSuffixLength>7</SerialSuffixLength>
  <Item>品名</Item>
  <MainNo>仕様書番号</MainNo>
  <SubNo>追番</SubNo>
  <SerialTitle>製造番号</SerialTitle>
  <GokiTitle>号機</GokiTitle>
  <Checkdat>Check.dat</Checkdat>
  <Listdat>List.dat</Listdat>
  <Histdat>Hist.dat</Histdat>
  <Portdat>Port.dat</Portdat>
  <Menucsv>Menu.csv</Menucsv>
  <menuDirPrior>Yes</menuDirPrior>
  <DioNames>
    <string>DA</string>
    <string>DB</string>
    <string>DC</string>
    <string>DD</string>
    <string>DE</string>
    <string>DF</string>
    <string>DG</string>
    <string>DH</string>
  </DioNames>
  <DioNums>
    <int>32</int>
    <int>32</int>
    <int>32</int>
    <int>32</int>
    <int>32</int>
    <int>32</int>
    <int>32</int>
    <int>32</int>
  </DioNums>
  <AoName>AO</AoName>
  <AoNum>2</AoNum>
  <AoSwichName>AoSw</AoSwichName>
  <AoSwichStat>
    <string />
    <string>Y</string>
  </AoSwichStat>
  <AoSwichGuide>
    <string>無効(空白)</string>
    <string>有効</string>
  </AoSwichGuide>
  <AoSwichNum>8</AoSwichNum>
  <AoSwichStartBit>0</AoSwichStartBit>
  <AiName>AI</AiName>
  <AiNum>8</AiNum>
  <AiCurrentNum>2</AiCurrentNum>
  <GndNames>
    <string>GndDA</string>
    <string>GndDB</string>
    <string>GndDC</string>
    <string>GndDD</string>
    <string>GndDE</string>
    <string>GndDF</string>
    <string>GndDG</string>
    <string>GndDH</string>
    <string>GndAO</string>
    <string>GndAI</string>
  </GndNames>
  <GndNums>
    <int>5</int>
    <int>5</int>
    <int>5</int>
    <int>5</int>
    <int>5</int>
    <int>5</int>
    <int>5</int>
    <int>5</int>
    <int>5</int>
    <int>5</int>
  </GndNums>
  <DioStat>
    <string>oOP</string>
    <string>oGN</string>
    <string>oHi</string>
    <string>iOP</string>
    <string>iGN</string>
    <string>iHi</string>
    <string>iDo</string>
    <string>iDh</string>
    <string>iDb</string>
    <string>iDc</string>
    <string>iDs</string>
    <string>iDp</string>
    <string>iTo</string>
    <string>nOP</string>
    <string>nGN</string>
    <string>nHi</string>
    <string>nDo</string>
    <string>nDh</string>
    <string>nDb</string>
    <string>nDc</string>
    <string>nDs</string>
    <string>nDp</string>
    <string>nTo</string>
    <string>dat</string>
    <string />
  </DioStat>
  <DioStatOld>
    <string>oOP</string>
    <string>oGN</string>
    <string>oHi</string>
    <string>iOP</string>
    <string>iGN</string>
    <string>iHi</string>
    <string>iDo</string>
    <string>iDh</string>
    <string>iDh</string>
    <string>iDh</string>
    <string>iDh</string>
    <string>iDh</string>
    <string>iTo</string>
    <string>iHi</string>
    <string>iHi</string>
    <string>iGN</string>
    <string>iDh</string>
    <string>iDo</string>
    <string>iDo</string>
    <string>iDo</string>
    <string>iDo</string>
    <string>iDo</string>
    <string />
    <string />
    <string />
  </DioStatOld>
  <DioStatGuide>
    <string>oOP：Open出力</string>
    <string>oGN：GND出力</string>
    <string>oHi：High出力</string>
    <string>iOP：Open入力</string>
    <string>iGN：GND入力</string>
    <string>iHi：High入力</string>
    <string>iDo：Open入力</string>
    <string>iDh：High入力</string>
    <string>iDb：High入力</string>
    <string>iDc：High入力</string>
    <string>iDs：High入力</string>
    <string>iDp：High入力</string>
    <string>iTo：ﾃｽﾄ入力</string>
    <string>nOP：Open補集合</string>
    <string>nGN：GND補集合</string>
    <string>nHi：High補集合</string>
    <string>nDo：Open補集合</string>
    <string>nDh：High補集合</string>
    <string>nDb：High補集合</string>
    <string>nDc：High補集合</string>
    <string>nDs：High補集合</string>
    <string>nDp：High補集合</string>
    <string>nTo：ﾃｽﾄ補集合</string>
    <string>dat：電流表示</string>
    <string>空欄：指定なし</string>
  </DioStatGuide>
  <DiStatOld>
    <string>ON</string>
    <string>OFF</string>
  </DiStatOld>
  <DiStatNew>
    <string>iDh</string>
    <string>iDo</string>
  </DiStatNew>
  <DoStatOld>
    <string>ON</string>
    <string>OFF</string>
  </DoStatOld>
  <DoStatNew>
    <string>oHi</string>
    <string>oOP</string>
  </DoStatNew>
  <DioHistStat>
    <string>OPEN</string>
    <string>GND</string>
    <string>HIGH</string>
    <string>ERR</string>
  </DioHistStat>
  <InspectRetryMax>10</InspectRetryMax>
  <inspection_TypeText>
    <string>通常検査</string>
    <string>一時停止</string>
    <string>繰り返し</string>
  </inspection_TypeText>
  <AioMonitorExePath>C:\Users\Nippo_Shibukawa\Documents\Project\vs2010\Cyc.IO.Aio\AioMonitor\bin\Debug\AioMonitor.exe</AioMonitorExePath>
  <AutoTimeOut>2</AutoTimeOut>
  <CheckDatLMTFields>
    <string>-HiLMT</string>
    <string>-LoLMT</string>
  </CheckDatLMTFields>
  <CheckDatLMT>
    <ArrayOfFloat>
      <float>8</float>
      <float>2</float>
      <float>15</float>
      <float>0.2</float>
      <float>60</float>
      <float>60</float>
      <float>8</float>
      <float>60</float>
      <float>60</float>
      <float>0.2</float>
    </ArrayOfFloat>
    <ArrayOfFloat>
      <float>4</float>
      <float>0</float>
      <float>10</float>
      <float>0</float>
      <float>0.3</float>
      <float>9</float>
      <float>6</float>
      <float>0.3</float>
      <float>0.3</float>
      <float>0</float>
    </ArrayOfFloat>
    <ArrayOfFloat>
      <float>20</float>
      <float>2</float>
      <float>30</float>
      <float>0.2</float>
      <float>60</float>
      <float>60</float>
      <float>10.1</float>
      <float>60</float>
      <float>60</float>
      <float>0.2</float>
    </ArrayOfFloat>
    <ArrayOfFloat>
      <float>8</float>
      <float>0</float>
      <float>20</float>
      <float>0</float>
      <float>0.3</float>
      <float>17</float>
      <float>8.1</float>
      <float>0.3</float>
      <float>0.3</float>
      <float>0</float>
    </ArrayOfFloat>
  </CheckDatLMT>
  <PlaySoundEnable>Yes</PlaySoundEnable>
  <okWavlPath>Settings\ok.wav</okWavlPath>
  <ngWavlPath>Settings\ng.wav</ngWavlPath>
  <pauseWavPath>Settings\pause.wav</pauseWavPath>
  <DefaultPageSettings_Landscape>false</DefaultPageSettings_Landscape>
  <DefaultPageSettings_Margins_Left>100</DefaultPageSettings_Margins_Left>
  <DefaultPageSettings_Margins_Right>100</DefaultPageSettings_Margins_Right>
  <DefaultPageSettings_Margins_Top>100</DefaultPageSettings_Margins_Top>
  <DefaultPageSettings_Margins_Bottom>100</DefaultPageSettings_Margins_Bottom>
  <CellStyles>
    <niCellStyle>
      <fontstyle>Regular</fontstyle>
      <ForeColor>Red</ForeColor>
      <SelectionForeColor>Red</SelectionForeColor>
    </niCellStyle>
    <niCellStyle>
      <fontstyle>Bold</fontstyle>
      <ForeColor>Black</ForeColor>
      <SelectionForeColor>Black</SelectionForeColor>
    </niCellStyle>
    <niCellStyle>
      <fontstyle>Bold</fontstyle>
      <ForeColor>Red</ForeColor>
      <SelectionForeColor>Red</SelectionForeColor>
    </niCellStyle>
    <niCellStyle>
      <fontstyle>Regular</fontstyle>
      <ForeColor>Black</ForeColor>
      <SelectionForeColor>Black</SelectionForeColor>
    </niCellStyle>
    <niCellStyle>
      <fontstyle>Regular</fontstyle>
      <ForeColor>Black</ForeColor>
      <SelectionForeColor>Black</SelectionForeColor>
    </niCellStyle>
    <niCellStyle>
      <fontstyle>Regular</fontstyle>
      <ForeColor>Black</ForeColor>
      <SelectionForeColor>Black</SelectionForeColor>
    </niCellStyle>
    <niCellStyle>
      <fontstyle>Regular</fontstyle>
      <ForeColor>Black</ForeColor>
      <SelectionForeColor>Black</SelectionForeColor>
    </niCellStyle>
    <niCellStyle>
      <fontstyle>Bold</fontstyle>
      <ForeColor>Blue</ForeColor>
      <SelectionForeColor>Blue</SelectionForeColor>
    </niCellStyle>
    <niCellStyle>
      <fontstyle>Bold</fontstyle>
      <ForeColor>#00AF50</ForeColor>
      <SelectionForeColor>#00AF50</SelectionForeColor>
    </niCellStyle>
    <niCellStyle>
      <fontstyle>Bold</fontstyle>
      <ForeColor>#FFC050</ForeColor>
      <SelectionForeColor>#FFC050</SelectionForeColor>
    </niCellStyle>
    <niCellStyle>
      <fontstyle>Bold</fontstyle>
      <ForeColor>#50FFC0</ForeColor>
      <SelectionForeColor>#50FFC0</SelectionForeColor>
    </niCellStyle>
    <niCellStyle>
      <fontstyle>Bold</fontstyle>
      <ForeColor>#C050FF</ForeColor>
      <SelectionForeColor>#C050FF</SelectionForeColor>
    </niCellStyle>
    <niCellStyle>
      <fontstyle>Regular</fontstyle>
      <ForeColor>Black</ForeColor>
      <SelectionForeColor>Black</SelectionForeColor>
    </niCellStyle>
    <niCellStyle>
      <fontstyle>Regular</fontstyle>
      <ForeColor>Black</ForeColor>
      <SelectionForeColor>Black</SelectionForeColor>
    </niCellStyle>
    <niCellStyle>
      <fontstyle>Regular</fontstyle>
      <ForeColor>Black</ForeColor>
      <SelectionForeColor>Black</SelectionForeColor>
    </niCellStyle>
  </CellStyles>
  <DeviceNameDO>
    <string>DIO000</string>
    <string>DIO001</string>
    <string>DIO002</string>
    <string>DIO003</string>
    <string>DIO004</string>
    <string>DIO005</string>
    <string>DIO006</string>
    <string>DIO007</string>
  </DeviceNameDO>
  <DO_Pmax>128</DO_Pmax>
  <DIO_LogLevel>LOG_INFO</DIO_LogLevel>
  <DeviceNameAIO>AIO004</DeviceNameAIO>
  <AImax>8</AImax>
  <AOmax>2</AOmax>
  <AIO_LogLevel>LOG_INFO</AIO_LogLevel>
  <AiAveTimes>5</AiAveTimes>
  <AoVoltMin>0</AoVoltMin>
  <AoVoltMax>15</AoVoltMax>
  <AiVoltMin>0</AiVoltMin>
  <AiVoltMax>15</AiVoltMax>
  <AoCalib_A>
    <float>0</float>
    <float>0</float>
  </AoCalib_A>
  <AoCalib_B>
    <float>1</float>
    <float>1</float>
  </AoCalib_B>
  <AoCalib_C>
    <float>0</float>
    <float>0</float>
  </AoCalib_C>
  <AiCalib_A>
    <float>1</float>
    <float>1</float>
    <float>1</float>
    <float>1</float>
    <float>1</float>
    <float>1</float>
    <float>1</float>
    <float>1</float>
  </AiCalib_A>
  <AiCalib_B>
    <float>0</float>
    <float>0</float>
    <float>0</float>
    <float>0</float>
    <float>0</float>
    <float>0</float>
    <float>0</float>
    <float>0</float>
  </AiCalib_B>
  <AoDiv>1.5</AoDiv>
  <AiMulti>1.5</AiMulti>
  <DeviceNameAI2DI>
    <string>AIO000</string>
    <string>AIO001</string>
    <string>AIO002</string>
    <string>AIO003</string>
  </DeviceNameAI2DI>
  <AI2DI_BDmax>4</AI2DI_BDmax>
  <AI2DI_AImax>64</AI2DI_AImax>
  <AI2DI_DImax>4</AI2DI_DImax>
  <AI2DI_DOmax>4</AI2DI_DOmax>
  <AI2DI_LogLevel>LOG_INFO</AI2DI_LogLevel>
  <AI2DI_AveTimes>10</AI2DI_AveTimes>
  <AI2DI_VoltMin>-10</AI2DI_VoltMin>
  <AI2DI_VoltMax>0</AI2DI_VoltMax>
  <AI2V_A>-3</AI2V_A>
  <AI2V_B>0</AI2V_B>
  <AI2I_A>-6</AI2I_A>
  <AI2I_B>0</AI2I_B>
  <AI2DI_DeviceChannel>
    <int>0</int>
    <int>8</int>
    <int>1</int>
    <int>9</int>
    <int>2</int>
    <int>10</int>
    <int>3</int>
    <int>11</int>
    <int>16</int>
    <int>24</int>
    <int>17</int>
    <int>25</int>
    <int>18</int>
    <int>26</int>
    <int>19</int>
    <int>27</int>
    <int>32</int>
    <int>40</int>
    <int>33</int>
    <int>41</int>
    <int>34</int>
    <int>42</int>
    <int>35</int>
    <int>43</int>
    <int>48</int>
    <int>56</int>
    <int>49</int>
    <int>57</int>
    <int>50</int>
    <int>58</int>
    <int>51</int>
    <int>59</int>
    <int>4</int>
    <int>12</int>
    <int>5</int>
    <int>13</int>
    <int>6</int>
    <int>14</int>
    <int>7</int>
    <int>15</int>
    <int>20</int>
    <int>28</int>
    <int>21</int>
    <int>29</int>
    <int>22</int>
    <int>30</int>
    <int>23</int>
    <int>31</int>
    <int>36</int>
    <int>44</int>
    <int>37</int>
    <int>45</int>
    <int>38</int>
    <int>46</int>
    <int>39</int>
    <int>47</int>
    <int>52</int>
    <int>60</int>
    <int>53</int>
    <int>61</int>
    <int>54</int>
    <int>62</int>
    <int>55</int>
    <int>63</int>
  </AI2DI_DeviceChannel>
</Settings>