<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="loc_frmMain" value="43,0" />
    <add key="loc_frmDataInput" value="9,1" />
    <add key="loc_frmDebug" value="" />
    <add key="loc_frmDebugNo" value="" />
    <add key="loc_frmOpenning" value="" />
    <add key="loc_frmPinAi" value="" />
    <add key="loc_frmPinAo" value="" />
    <add key="loc_frmPinIO" value="" />
    <add key="loc_frmPinName" value="" />
    <add key="loc_frmPort" value="13,0" />
    <add key="loc_frmResultView" value="17,0" />
    <add key="loc_frmSerial" value="" />
    <add key="loc_frmSetting" value="7,5" />
    <add key="loc_frmTopEdit" value="18,29" />
    <add key="loc_frmTopEditCopy" value="254,140" />
    <add key="loc_frmTopEditInput" value="256,227" />
    <add key="loc_frmVersion" value="" />
    <add key="loc_frmAIOMonitor" value="" />
    <add key="loc_frmPinAoMonitor" value="" />
    <add key="loc_frmHistView" value="" />
    <add key="Application Name" value="MyApplication" />
    <add key="Application Version" value="1.0.0.0" />
    <add key="Default.config Pathx" value="C:\Users\nippo\Documents\wireChecker\Settings\Default.config" />
    <add key="Default.config Path" value="D:\nippo\wireChecker\Settings\Default.config" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>